body{
    background-color: powderblue;
}
h1,h3{
    color: darkblue;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}